# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://admin:admin123@localhost:5432/zastar

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=tu-secreto-aqui-minimo-10-caracteres
JWT_EXPIRES_IN=1h

# Izipay
IZIPAY_MERCHANT_CODE=tu-merchant-code
IZIPAY_API_KEY=tu-api-key
IZIPAY_PUBLIC_KEY=tu-public-key
